---
import Layout from '../layouts/Layout.astro';
import PricingCard from '../components/PricingCard.astro';
import ContactAside from "../components/ContactAside.astro"
---

<Layout title="Frontend Mentor | Single Price Grid Component">
	<main>
		<h1 class="visually-hidden">Join our community: pricing</h1>
		<PricingCard />
		<ContactAside />
	</main>
</Layout>

<style>
	main {
		width: clamp(360px, 80vw, 750px);
	}
</style>
